{
  "theme": "dark-ansi",
  "disabledMcpServers": ["cortex", "datadog-mcp"],
  "enabledMcpjsonServers": [],
  "mcpServers": {
    "atlassian": {
      "type": "stdio",
      "command": "uvx",
      "args": [
        "mcp-atlassian",
        "--confluence-url=${CONFLUENCE_URL}",
        "--confluence-username=${ATLASSIAN_USERNAME}",
        "--confluence-token=${ATLASSIAN_TOKEN}",
        "--jira-url=${JIRA_URL}",
        "--jira-username=${ATLASSIAN_USERNAME}",
        "--jira-token=${ATLASSIAN_TOKEN}"
      ],
      "env": {}
    },
    "postgresql": {
      "command": "docker",
      "args": [
        "run",
        "-i",
        "--rm",
        "mcp/postgres",
        "${DATABASE_CONNECTION_STRING}"
      ]
    },
    "context7": {
      "type": "http",
      "url": "https://mcp.context7.com/mcp"
    },
    "cortex": {
      "command": "docker",
      "args": [
        "run",
        "--rm",
        "-i",
        "--env",
        "CORTEX_API_TOKEN=${CORTEX_API_TOKEN}",
        "ghcr.io/cortexapps/cortex-mcp:latest"
      ]
    },
    "datadog-mcp": {
      "type": "http",
      "url": "https://mcp.datadoghq.com/api/unstable/mcp-server/mcp"
    }
  }
}
